<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.output.AlertResultMapper">
    <resultMap id="alertResult" type="com.output.model.AlertResult">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="result" property="result" jdbcType="TINYINT"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Columns">
        `id`,
        <include refid="Columns_For_Insert"/>
    </sql>

    <!-- Insert使用字段 -->
    <sql id="Columns_For_Insert">
        `result`, `type`, `user_id`, `status`, `create_time`, `update_time`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.output.model.AlertResultExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_alert_result
        (    <include refid="Columns_For_Insert"/>    )
        values(
            #{result, jdbcType=TINYINT}, #{type, jdbcType=TINYINT}, #{userId, jdbcType=BIGINT}, 
            #{status, jdbcType=TINYINT}, #{createTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 选择性插入插入数据 -->
    <insert id="insertSelective" parameterType="com.output.model.AlertResultExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_alert_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                `id`,
            </if>
            <if test=" result != null " >
                `result`,
            </if>
            <if test=" type != null " >
                `type`,
            </if>
            <if test=" userId != null " >
                `user_id`,
            </if>
            <if test=" status != null " >
                `status`,
            </if>
            <if test=" createTime != null " >
                `create_time`,
            </if>
            <if test=" updateTime != null " >
                `update_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                #{id, jdbcType=INTEGER},
            </if>
            <if test=" result != null " >
                #{result, jdbcType=TINYINT},
            </if>
            <if test=" type != null " >
                #{type, jdbcType=TINYINT},
            </if>
            <if test=" userId != null " >
                #{userId, jdbcType=BIGINT},
            </if>
            <if test=" status != null " >
                #{status, jdbcType=TINYINT},
            </if>
            <if test=" createTime != null " >
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test=" updateTime != null " >
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_alert_result
        (    <include refid="Columns_For_Insert"/>    )
        values
        <foreach collection="list" item="item" separator="," >
            (
                #{item.result, jdbcType=TINYINT}, #{item.type, jdbcType=TINYINT}, #{item.userId, jdbcType=BIGINT}, 
                #{item.status, jdbcType=TINYINT}, #{item.createTime, jdbcType=TIMESTAMP}, 
                #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_alert_result
        where `id` = #{id, jdbcType=INTEGER}
    </delete>

    <!-- 根据主键更新非空字段 -->
    <update id="updateByPrimaryKey" parameterType="com.output.model.AlertResultExt">
        update t_alert_result
        <set>
            <if test=" result != null " >
                `result` = #{result, jdbcType=TINYINT},
            </if>
            <if test=" type != null " >
                `type` = #{type, jdbcType=TINYINT},
            </if>
            <if test=" userId != null " >
                `user_id` = #{userId, jdbcType=BIGINT},
            </if>
            <if test=" status != null " >
                `status` = #{status, jdbcType=TINYINT},
            </if>
            <if test=" createTime != null " >
                `create_time` = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test=" updateTime != null " >
                `update_time` = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where `id` = #{id, jdbcType=INTEGER}
    </update>

    <!-- 根据主键查询 -->
    <select id="queryByPrimaryKey" parameterType="java.lang.Integer" resultMap="alertResult">
        select <include refid="Base_Columns"/>
        from t_alert_result
        where `id` = #{id, jdbcType=INTEGER}
    </select>

    <!-- 根据条件查询一条记录 -->
    <select id="queryOne" parameterType="com.output.model.AlertResultExt" resultMap="alertResult">
        select <include refid="Base_Columns"/>
        from t_alert_result
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=INTEGER}
            </if>
            <if test=" result != null " >
                AND `result` = #{result, jdbcType=TINYINT}
            </if>
            <if test=" type != null " >
                AND `type` = #{type, jdbcType=TINYINT}
            </if>
            <if test=" userId != null " >
                AND `user_id` = #{userId, jdbcType=BIGINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
        limit 1
    </select>

    <!-- 根据条件查询列表 -->
    <select id="queryList" parameterType="com.output.model.AlertResultExt" resultMap="alertResult">
        select <include refid="Base_Columns"/>
        from t_alert_result
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=INTEGER}
            </if>
            <if test=" result != null " >
                AND `result` = #{result, jdbcType=TINYINT}
            </if>
            <if test=" type != null " >
                AND `type` = #{type, jdbcType=TINYINT}
            </if>
            <if test=" userId != null " >
                AND `user_id` = #{userId, jdbcType=BIGINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!-- 统计数量 -->
    <select id="count" parameterType="com.output.model.AlertResultExt" resultType="java.lang.Integer">
        select count(*)
        from t_alert_result
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=INTEGER}
            </if>
            <if test=" result != null " >
                AND `result` = #{result, jdbcType=TINYINT}
            </if>
            <if test=" type != null " >
                AND `type` = #{type, jdbcType=TINYINT}
            </if>
            <if test=" userId != null " >
                AND `user_id` = #{userId, jdbcType=BIGINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>
