<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.output.BrandMapper">
    <resultMap id="brand" type="com.output.model.Brand">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Columns">
        `id`,
        <include refid="Columns_For_Insert"/>
    </sql>

    <!-- Insert使用字段 -->
    <sql id="Columns_For_Insert">
        `brand_name`, `sort`, `status`, `create_time`, `update_time`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.output.model.BrandExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_brand
        (    <include refid="Columns_For_Insert"/>    )
        values(
            #{brandName, jdbcType=VARCHAR}, #{sort, jdbcType=INTEGER}, #{status, jdbcType=TINYINT}, 
            #{createTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 选择性插入插入数据 -->
    <insert id="insertSelective" parameterType="com.output.model.BrandExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                `id,
            </if>
            <if test=" brandName != null and brandName != '' " >
                `brand_name,
            </if>
            <if test=" sort != null " >
                `sort,
            </if>
            <if test=" status != null " >
                `status,
            </if>
            <if test=" createTime != null " >
                `create_time,
            </if>
            <if test=" updateTime != null " >
                `update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                `id` = #{id, jdbcType=BIGINT},
            </if>
            <if test=" brandName != null and brandName != '' " >
                `brand_name` = #{brandName, jdbcType=VARCHAR},
            </if>
            <if test=" sort != null " >
                `sort` = #{sort, jdbcType=INTEGER},
            </if>
            <if test=" status != null " >
                `status` = #{status, jdbcType=TINYINT},
            </if>
            <if test=" createTime != null " >
                `create_time` = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test=" updateTime != null " >
                `update_time` = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_brand
        (    <include refid="Columns_For_Insert"/>    )
        values
        <foreach collection="list" item="item" separator="," >
            (
                #{item.brandName, jdbcType=VARCHAR}, #{item.sort, jdbcType=INTEGER}, #{item.status, jdbcType=TINYINT}, 
                #{item.createTime, jdbcType=TIMESTAMP}, #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_brand
        where `id` = #{id, jdbcType=BIGINT}
    </delete>

    <!-- 根据主键更新非空字段 -->
    <update id="updateByPrimaryKey" parameterType="com.output.model.BrandExt">
        update t_brand
        <set>
            <if test=" brandName != null and brandName != '' " >
                `brand_name` = #{brandName, jdbcType=VARCHAR},
            </if>
            <if test=" sort != null " >
                `sort` = #{sort, jdbcType=INTEGER},
            </if>
            <if test=" status != null " >
                `status` = #{status, jdbcType=TINYINT},
            </if>
            <if test=" createTime != null " >
                `create_time` = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test=" updateTime != null " >
                `update_time` = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where `id` = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据主键查询 -->
    <select id="queryByPrimaryKey" parameterType="java.lang.Long" resultMap="brand">
        select <include refid="Base_Columns"/>
        from t_brand
        where `id` = #{id, jdbcType=BIGINT}
    </select>

    <!-- 根据条件查询一条记录 -->
    <select id="queryOne" parameterType="com.output.model.BrandExt" resultMap="brand">
        select <include refid="Base_Columns"/>
        from t_brand
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" brandName != null and brandName != '' " >
                AND `brand_name` = #{brandName, jdbcType=VARCHAR}
            </if>
            <if test=" sort != null " >
                AND `sort` = #{sort, jdbcType=INTEGER}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
        limit 1
    </select>

    <!-- 根据条件查询列表 -->
    <select id="queryList" parameterType="com.output.model.BrandExt" resultMap="brand">
        select <include refid="Base_Columns"/>
        from t_brand
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" brandName != null and brandName != '' " >
                AND `brand_name` = #{brandName, jdbcType=VARCHAR}
            </if>
            <if test=" sort != null " >
                AND `sort` = #{sort, jdbcType=INTEGER}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!-- 统计数量 -->
    <select id="count" parameterType="com.output.model.BrandExt" resultType="java.lang.Integer">
        select count(*)
        from t_brand
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" brandName != null and brandName != '' " >
                AND `brand_name` = #{brandName, jdbcType=VARCHAR}
            </if>
            <if test=" sort != null " >
                AND `sort` = #{sort, jdbcType=INTEGER}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>
