<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.output.FinancingPaymentMapper">
    <resultMap id="financingPayment" type="com.output.model.FinancingPayment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="mall_product_id" property="mallProductId" jdbcType="BIGINT"/>
        <result column="sku_id" property="skuId" jdbcType="BIGINT"/>
        <result column="rent_type_id" property="rentTypeId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="order_finished" property="orderFinished" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Columns">
        `id`,
        <include refid="Columns_For_Insert"/>
    </sql>

    <!-- Insert使用字段 -->
    <sql id="Columns_For_Insert">
        `order_no`, `mall_product_id`, `sku_id`, `rent_type_id`, `status`, `order_finished`, `create_time`, 
        `update_time`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.output.model.FinancingPaymentExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_financing_payment
        (    <include refid="Columns_For_Insert"/>    )
        values(
            #{orderNo, jdbcType=VARCHAR}, #{mallProductId, jdbcType=BIGINT}, #{skuId, jdbcType=BIGINT}, 
            #{rentTypeId, jdbcType=BIGINT}, #{status, jdbcType=TINYINT}, #{orderFinished, jdbcType=TIMESTAMP}, 
            #{createTime, jdbcType=TIMESTAMP}, #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 选择性插入插入数据 -->
    <insert id="insertSelective" parameterType="com.output.model.FinancingPaymentExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_financing_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                `id`,
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                `order_no`,
            </if>
            <if test=" mallProductId != null " >
                `mall_product_id`,
            </if>
            <if test=" skuId != null " >
                `sku_id`,
            </if>
            <if test=" rentTypeId != null " >
                `rent_type_id`,
            </if>
            <if test=" status != null " >
                `status`,
            </if>
            <if test=" orderFinished != null " >
                `order_finished`,
            </if>
            <if test=" createTime != null " >
                `create_time`,
            </if>
            <if test=" updateTime != null " >
                `update_time`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                #{id, jdbcType=BIGINT},
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                #{orderNo, jdbcType=VARCHAR},
            </if>
            <if test=" mallProductId != null " >
                #{mallProductId, jdbcType=BIGINT},
            </if>
            <if test=" skuId != null " >
                #{skuId, jdbcType=BIGINT},
            </if>
            <if test=" rentTypeId != null " >
                #{rentTypeId, jdbcType=BIGINT},
            </if>
            <if test=" status != null " >
                #{status, jdbcType=TINYINT},
            </if>
            <if test=" orderFinished != null " >
                #{orderFinished, jdbcType=TIMESTAMP},
            </if>
            <if test=" createTime != null " >
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test=" updateTime != null " >
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_financing_payment
        (    <include refid="Columns_For_Insert"/>    )
        values
        <foreach collection="list" item="item" separator="," >
            (
                #{item.orderNo, jdbcType=VARCHAR}, #{item.mallProductId, jdbcType=BIGINT}, 
                #{item.skuId, jdbcType=BIGINT}, #{item.rentTypeId, jdbcType=BIGINT}, #{item.status, jdbcType=TINYINT}, 
                #{item.orderFinished, jdbcType=TIMESTAMP}, #{item.createTime, jdbcType=TIMESTAMP}, 
                #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_financing_payment
        where `id` = #{id, jdbcType=BIGINT}
    </delete>

    <!-- 根据主键更新非空字段 -->
    <update id="updateByPrimaryKey" parameterType="com.output.model.FinancingPaymentExt">
        update t_financing_payment
        <set>
            <if test=" orderNo != null and orderNo != '' " >
                `order_no` = #{orderNo, jdbcType=VARCHAR},
            </if>
            <if test=" mallProductId != null " >
                `mall_product_id` = #{mallProductId, jdbcType=BIGINT},
            </if>
            <if test=" skuId != null " >
                `sku_id` = #{skuId, jdbcType=BIGINT},
            </if>
            <if test=" rentTypeId != null " >
                `rent_type_id` = #{rentTypeId, jdbcType=BIGINT},
            </if>
            <if test=" status != null " >
                `status` = #{status, jdbcType=TINYINT},
            </if>
            <if test=" orderFinished != null " >
                `order_finished` = #{orderFinished, jdbcType=TIMESTAMP},
            </if>
            <if test=" createTime != null " >
                `create_time` = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test=" updateTime != null " >
                `update_time` = #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where `id` = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据主键查询 -->
    <select id="queryByPrimaryKey" parameterType="java.lang.Long" resultMap="financingPayment">
        select <include refid="Base_Columns"/>
        from t_financing_payment
        where `id` = #{id, jdbcType=BIGINT}
    </select>

    <!-- 根据条件查询一条记录 -->
    <select id="queryOne" parameterType="com.output.model.FinancingPaymentExt" resultMap="financingPayment">
        select <include refid="Base_Columns"/>
        from t_financing_payment
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                AND `order_no` = #{orderNo, jdbcType=VARCHAR}
            </if>
            <if test=" mallProductId != null " >
                AND `mall_product_id` = #{mallProductId, jdbcType=BIGINT}
            </if>
            <if test=" skuId != null " >
                AND `sku_id` = #{skuId, jdbcType=BIGINT}
            </if>
            <if test=" rentTypeId != null " >
                AND `rent_type_id` = #{rentTypeId, jdbcType=BIGINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" orderFinished != null " >
                AND `order_finished` = #{orderFinished, jdbcType=TIMESTAMP}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
        limit 1
    </select>

    <!-- 根据条件查询列表 -->
    <select id="queryList" parameterType="com.output.model.FinancingPaymentExt" resultMap="financingPayment">
        select <include refid="Base_Columns"/>
        from t_financing_payment
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                AND `order_no` = #{orderNo, jdbcType=VARCHAR}
            </if>
            <if test=" mallProductId != null " >
                AND `mall_product_id` = #{mallProductId, jdbcType=BIGINT}
            </if>
            <if test=" skuId != null " >
                AND `sku_id` = #{skuId, jdbcType=BIGINT}
            </if>
            <if test=" rentTypeId != null " >
                AND `rent_type_id` = #{rentTypeId, jdbcType=BIGINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" orderFinished != null " >
                AND `order_finished` = #{orderFinished, jdbcType=TIMESTAMP}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!-- 统计数量 -->
    <select id="count" parameterType="com.output.model.FinancingPaymentExt" resultType="java.lang.Integer">
        select count(*)
        from t_financing_payment
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                AND `order_no` = #{orderNo, jdbcType=VARCHAR}
            </if>
            <if test=" mallProductId != null " >
                AND `mall_product_id` = #{mallProductId, jdbcType=BIGINT}
            </if>
            <if test=" skuId != null " >
                AND `sku_id` = #{skuId, jdbcType=BIGINT}
            </if>
            <if test=" rentTypeId != null " >
                AND `rent_type_id` = #{rentTypeId, jdbcType=BIGINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" orderFinished != null " >
                AND `order_finished` = #{orderFinished, jdbcType=TIMESTAMP}
            </if>
            <if test=" createTime != null " >
                AND `create_time` = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test=" updateTime != null " >
                AND `update_time` = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>
