<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.output.ZhimaCreditOrderMapper">
    <resultMap id="zhimaCreditOrder" type="com.output.model.ZhimaCreditOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="credit_order_no" property="creditOrderNo" jdbcType="VARCHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="out_order_no" property="outOrderNo" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderStatus" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="cdate" property="cdate" jdbcType="TIMESTAMP"/>
        <result column="mdate" property="mdate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="Base_Columns">
        `id`,
        <include refid="Columns_For_Insert"/>
    </sql>

    <!-- Insert使用字段 -->
    <sql id="Columns_For_Insert">
        `credit_order_no`, `order_no`, `out_order_no`, `order_id`, `order_status`, `status`, `cdate`, `mdate`
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.output.model.ZhimaCreditOrderExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_zhima_credit_order
        (    <include refid="Columns_For_Insert"/>    )
        values(
            #{creditOrderNo, jdbcType=VARCHAR}, #{orderNo, jdbcType=VARCHAR}, #{outOrderNo, jdbcType=VARCHAR}, 
            #{orderId, jdbcType=VARCHAR}, #{orderStatus, jdbcType=TINYINT}, #{status, jdbcType=TINYINT}, 
            #{cdate, jdbcType=TIMESTAMP}, #{mdate, jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 选择性插入插入数据 -->
    <insert id="insertSelective" parameterType="com.output.model.ZhimaCreditOrderExt" useGeneratedKeys="true" keyProperty="id">
        insert into t_zhima_credit_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                `id`,
            </if>
            <if test=" creditOrderNo != null and creditOrderNo != '' " >
                `credit_order_no`,
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                `order_no`,
            </if>
            <if test=" outOrderNo != null and outOrderNo != '' " >
                `out_order_no`,
            </if>
            <if test=" orderId != null and orderId != '' " >
                `order_id`,
            </if>
            <if test=" orderStatus != null " >
                `order_status`,
            </if>
            <if test=" status != null " >
                `status`,
            </if>
            <if test=" cdate != null " >
                `cdate`,
            </if>
            <if test=" mdate != null " >
                `mdate`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" id != null " >
                #{id, jdbcType=BIGINT},
            </if>
            <if test=" creditOrderNo != null and creditOrderNo != '' " >
                #{creditOrderNo, jdbcType=VARCHAR},
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                #{orderNo, jdbcType=VARCHAR},
            </if>
            <if test=" outOrderNo != null and outOrderNo != '' " >
                #{outOrderNo, jdbcType=VARCHAR},
            </if>
            <if test=" orderId != null and orderId != '' " >
                #{orderId, jdbcType=VARCHAR},
            </if>
            <if test=" orderStatus != null " >
                #{orderStatus, jdbcType=TINYINT},
            </if>
            <if test=" status != null " >
                #{status, jdbcType=TINYINT},
            </if>
            <if test=" cdate != null " >
                #{cdate, jdbcType=TIMESTAMP},
            </if>
            <if test=" mdate != null " >
                #{mdate, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_zhima_credit_order
        (    <include refid="Columns_For_Insert"/>    )
        values
        <foreach collection="list" item="item" separator="," >
            (
                #{item.creditOrderNo, jdbcType=VARCHAR}, #{item.orderNo, jdbcType=VARCHAR}, 
                #{item.outOrderNo, jdbcType=VARCHAR}, #{item.orderId, jdbcType=VARCHAR}, 
                #{item.orderStatus, jdbcType=TINYINT}, #{item.status, jdbcType=TINYINT}, 
                #{item.cdate, jdbcType=TIMESTAMP}, #{item.mdate, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_zhima_credit_order
        where `id` = #{id, jdbcType=BIGINT}
    </delete>

    <!-- 根据主键更新非空字段 -->
    <update id="updateByPrimaryKey" parameterType="com.output.model.ZhimaCreditOrderExt">
        update t_zhima_credit_order
        <set>
            <if test=" creditOrderNo != null and creditOrderNo != '' " >
                `credit_order_no` = #{creditOrderNo, jdbcType=VARCHAR},
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                `order_no` = #{orderNo, jdbcType=VARCHAR},
            </if>
            <if test=" outOrderNo != null and outOrderNo != '' " >
                `out_order_no` = #{outOrderNo, jdbcType=VARCHAR},
            </if>
            <if test=" orderId != null and orderId != '' " >
                `order_id` = #{orderId, jdbcType=VARCHAR},
            </if>
            <if test=" orderStatus != null " >
                `order_status` = #{orderStatus, jdbcType=TINYINT},
            </if>
            <if test=" status != null " >
                `status` = #{status, jdbcType=TINYINT},
            </if>
            <if test=" cdate != null " >
                `cdate` = #{cdate, jdbcType=TIMESTAMP},
            </if>
            <if test=" mdate != null " >
                `mdate` = #{mdate, jdbcType=TIMESTAMP},
            </if>
        </set>
        where `id` = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据主键查询 -->
    <select id="queryByPrimaryKey" parameterType="java.lang.Long" resultMap="zhimaCreditOrder">
        select <include refid="Base_Columns"/>
        from t_zhima_credit_order
        where `id` = #{id, jdbcType=BIGINT}
    </select>

    <!-- 根据条件查询一条记录 -->
    <select id="queryOne" parameterType="com.output.model.ZhimaCreditOrderExt" resultMap="zhimaCreditOrder">
        select <include refid="Base_Columns"/>
        from t_zhima_credit_order
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" creditOrderNo != null and creditOrderNo != '' " >
                AND `credit_order_no` = #{creditOrderNo, jdbcType=VARCHAR}
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                AND `order_no` = #{orderNo, jdbcType=VARCHAR}
            </if>
            <if test=" outOrderNo != null and outOrderNo != '' " >
                AND `out_order_no` = #{outOrderNo, jdbcType=VARCHAR}
            </if>
            <if test=" orderId != null and orderId != '' " >
                AND `order_id` = #{orderId, jdbcType=VARCHAR}
            </if>
            <if test=" orderStatus != null " >
                AND `order_status` = #{orderStatus, jdbcType=TINYINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" cdate != null " >
                AND `cdate` = #{cdate, jdbcType=TIMESTAMP}
            </if>
            <if test=" mdate != null " >
                AND `mdate` = #{mdate, jdbcType=TIMESTAMP}
            </if>
        </where>
        limit 1
    </select>

    <!-- 根据条件查询列表 -->
    <select id="queryList" parameterType="com.output.model.ZhimaCreditOrderExt" resultMap="zhimaCreditOrder">
        select <include refid="Base_Columns"/>
        from t_zhima_credit_order
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" creditOrderNo != null and creditOrderNo != '' " >
                AND `credit_order_no` = #{creditOrderNo, jdbcType=VARCHAR}
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                AND `order_no` = #{orderNo, jdbcType=VARCHAR}
            </if>
            <if test=" outOrderNo != null and outOrderNo != '' " >
                AND `out_order_no` = #{outOrderNo, jdbcType=VARCHAR}
            </if>
            <if test=" orderId != null and orderId != '' " >
                AND `order_id` = #{orderId, jdbcType=VARCHAR}
            </if>
            <if test=" orderStatus != null " >
                AND `order_status` = #{orderStatus, jdbcType=TINYINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" cdate != null " >
                AND `cdate` = #{cdate, jdbcType=TIMESTAMP}
            </if>
            <if test=" mdate != null " >
                AND `mdate` = #{mdate, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!-- 统计数量 -->
    <select id="count" parameterType="com.output.model.ZhimaCreditOrderExt" resultType="java.lang.Integer">
        select count(*)
        from t_zhima_credit_order
        <where>
            <if test=" id != null " >
                AND `id` = #{id, jdbcType=BIGINT}
            </if>
            <if test=" creditOrderNo != null and creditOrderNo != '' " >
                AND `credit_order_no` = #{creditOrderNo, jdbcType=VARCHAR}
            </if>
            <if test=" orderNo != null and orderNo != '' " >
                AND `order_no` = #{orderNo, jdbcType=VARCHAR}
            </if>
            <if test=" outOrderNo != null and outOrderNo != '' " >
                AND `out_order_no` = #{outOrderNo, jdbcType=VARCHAR}
            </if>
            <if test=" orderId != null and orderId != '' " >
                AND `order_id` = #{orderId, jdbcType=VARCHAR}
            </if>
            <if test=" orderStatus != null " >
                AND `order_status` = #{orderStatus, jdbcType=TINYINT}
            </if>
            <if test=" status != null " >
                AND `status` = #{status, jdbcType=TINYINT}
            </if>
            <if test=" cdate != null " >
                AND `cdate` = #{cdate, jdbcType=TIMESTAMP}
            </if>
            <if test=" mdate != null " >
                AND `mdate` = #{mdate, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>
